<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <script defer src="../js/sesion.js"></script>
    <script defer src="../js/client-details.js"></script>

    <title>Clientes | CRM</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
      <div class="container">
        <a href="/" class="navbar-brand">CRM</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="/clientes" class="nav-link">Clientes</a>
            </li>
            <li class="nav-item">
              <a href="/usuarios" class="nav-link">Usuarios</a>
            </li>
            <li class="nav-item">
              <a href="/interacciones" class="nav-link">Interacciones</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="container-lg p-4">
      <h2>Cliente</h2>

      <table class="table table-dark table-hover p-3">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">address</th>
            <th scope="col">createdAt</th>
            <th scope="col" style="width: 140px"></th>
          </tr>
        </thead>
        <tbody class="tbody"></tbody>
      </table>
    </section>

    <div class="form-edit">
      <div class="card-body">
        <h1 class="card-title text-center mb-3 text-light">Editar Cliente</h1>
        <div
          class="card text-white bg-dark mb-3 p-4"
          style="max-width: 25rem; margin: auto"
        >
          <form class="form__edit-client" action="/clientes" method="POST">
            <div class="mb-3" style="display: none">
              <input type="text" class="form-control" id="id" required />
            </div>
            <div class="mb-3">
              <label for="clientName" class="form-label"
                >Nombre del Cliente</label
              >
              <input
                type="text"
                class="form-control"
                id="clientName"
                required
              />
            </div>
            <div class="mb-3">
              <label for="clientEmail" class="form-label"
                >Email del Cliente</label
              >
              <input
                type="email"
                class="form-control"
                id="clientEmail"
                required
              />
            </div>
            <div class="mb-3">
              <label for="clientAddress" class="form-label"
                >Direccion del Cliente</label
              >
              <input
                type="text"
                class="form-control"
                id="clientAddress"
                required
              />
            </div>
            <div class="mb-3" style="display: none">
              <input
                type="date"
                class="form-control"
                id="clientDate"
                required
              />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="overlay"></div>

    <!-- Footer -->
    <footer
      class="p-4 bg-dark text-white text-center position-relative mt-auto"
    >
      <div class="container">
        <button
          type="button"
          id="cerrar-sesion"
          class="btn btn-info position-absolute bottom-1 start-0 m-lg-1"
        >
          Cerrar sesión
        </button>
        <p class="lead">&copy; 2022 Proyecto CRM</p>

        <a href="#" class="position-absolute bottom-0 end-0 p-4">
          <i class="bi bi-arrow-up-circle h1"></i>
        </a>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
